<h1>Gallery</h1>

<%= link_to "Create New Item", new_gallery_url %>

<% @gallery_items.each do |gallery_item| %>
    <p><%= link_to gallery_item.title, gallery_show_path(gallery_item) %></p>
    <p><%= gallery_item.subtitle %></p>
    <p><%= gallery_item.body %></p>
    <%= image_tag gallery_item.thumb_image unless gallery_item.thumb_image.nil? %>
    <%= link_to "Edit", edit_gallery_path(gallery_item.id) %>
    <%= link_to 'Delete Gallery Item', gallery_path(gallery_item), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>